{% extends 'base.html.twig' %}

{% block title %}Cliente{% endblock %}

{% block body %}
    <h1>Cliente</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cliente.id }}</td>
            </tr>
            <tr>
                <th>Razao_social</th>
                <td>{{ cliente.razaoSocial }}</td>
            </tr>
            <tr>
                <th>Nome_fantasia</th>
                <td>{{ cliente.nomeFantasia }}</td>
            </tr>
            <tr>
                <th>Cnpj</th>
                <td>{{ cliente.cnpj }}</td>
            </tr>
            <tr>
                <th>Ativo</th>
                <td>{{ cliente.ativo ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('cliente_index') }}">back to list</a>

    <a href="{{ path('cliente_edit', {'id': cliente.id}) }}">edit</a>

    {{ include('cliente/_delete_form.html.twig') }}
{% endblock %}
