{% extends 'base.html.twig' %}

{% block title %}Local index{% endblock %}

{% block body %}
    <h1>Local index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Endereco</th>
                <th>Cidade</th>
                <th>Estado</th>
                <th>Cep</th>
                <th>Observacao</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for local in locals %}
            <tr>
                <td>{{ local.id }}</td>
                <td>{{ local.nome }}</td>
                <td>{{ local.endereco }}</td>
                <td>{{ local.cidade }}</td>
                <td>{{ local.estado }}</td>
                <td>{{ local.cep }}</td>
                <td>{{ local.observacao }}</td>
                <td>
                    <a href="{{ path('app_local_show', {'id': local.id}) }}">show</a>
                    <a href="{{ path('app_local_edit', {'id': local.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('local_new') }}">Create new</a>
{% endblock %}
