{% extends 'base.html.twig' %}

{% block content %}
    <br>
    <div class="container col-md-12">
        <div class="card shadow-sm">
            <div class="card-header bg-primary text-white">
                <h5 class="mb-0">Detalhes da Empilhadeira</h5>
            </div>

            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-md-2 font-weight-bold">ID:</div>
                    <div class="col-md-10">{{ lista_empilhadeira.id }}</div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-2 font-weight-bold">Modelo:</div>
                    <div class="col-md-10">{{ lista_empilhadeira.modelo.modelo }}</div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-2 font-weight-bold">Cliente:</div>
                    <div class="col-md-10">{{ lista_empilhadeira.cliente.razaoSocial }}</div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-2 font-weight-bold">Local:</div>
                    <div class="col-md-10">{{ lista_empilhadeira.local.nome }} kg</div>
                </div>
            </div>

            <div class="card-footer d-flex justify-content-between">
                <a href="{{ path('lista_empilhadeira_index') }}" class="btn btn-info">Voltar</a>
                <a href="{{ path('lista_empilhadeira_edit', {'id': lista_empilhadeira.id}) }}" class="btn btn-warning">Editar</a>
            </div>
        </div>
    </div>

{% endblock %}