{% extends 'base.html.twig' %}

{% block content %}
    <br>


    <div class="container col-md-12">
        <div class="card shadow-sm">
            <div class="card-header bg-primary text-white">
                <h5 class="mb-0">Detalhes do Modelo de Empilhadeira</h5>
            </div>

            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-md-2 font-weight-bold">ID:</div>
                    <div class="col-md-10">{{ modelo_empilhadeira.id }}</div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-2 font-weight-bold">Fabricante:</div>
                    <div class="col-md-10">{{ modelo_empilhadeira.fabricante }}</div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-2 font-weight-bold">Modelo:</div>
                    <div class="col-md-10">{{ modelo_empilhadeira.modelo }}</div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-2 font-weight-bold">Carga Total (kg):</div>
                    <div class="col-md-10">{{ modelo_empilhadeira.cargaTotal }} kg</div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-2 font-weight-bold">Características:</div>
                    <div class="col-md-10">{{ modelo_empilhadeira.caracteristicas }}</div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-2 font-weight-bold">Aplicações:</div>
                    <div class="col-md-10">{{ modelo_empilhadeira.aplicacoes }}</div>
                </div>
            </div>

            <div class="card-footer d-flex justify-content-between">
                <a href="{{ path('modelo_empilhadeira_index') }}" class="btn btn-info">Voltar</a>
                <a href="{{ path('modelo_empilhadeira_edit', {'id': modelo_empilhadeira.id}) }}" class="btn btn-warning">Editar</a>
            </div>
        </div>
    </div>

{% endblock %}